This README attempts to document specifically how OpenWRT generates kernel
.config files.

This occurs in include/target.mk.  A list of config files is created, searching
in these directories, in this order:

1. GENERIC_PLATFORM_DIR: $(TOPDIR)/target/linux/generic
2. PLATFORM_DIR:         $(TOPDIR)/target/linux/$(BOARD)
3. PLATFORM_SUBDIR:      $(TOPDIR)/target/linux/$(BOARD)/$(SUBTARGET)

The 3rd entry only occurs if there is a SUBTARGET.

Each of these is checked for a file named config-$(KERNEL_PATCHVER) and then
config-default and the list of files is assembled, with up to 6 total and this
list is stored in LINUX_KCONFIG_LIST.  These files are then added together, in
order, using kconfig.pl (now kmungeconfig.pl) with the '+' (plus) operator.
